---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="un landing page de headphone sacado de youtube - Bedimcode" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/webp/favicon.webp" />
    <meta name="generator" content={Astro.generator} />


    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --header-height: 3.5rem;

    --first-color: #ff6200;
    --gradient-color: linear-gradient(
      90deg,
      hsl(23, 4%, 28%) 0%,
      hsl(23, 4%, 8%) 100%
    );
    --white-color: #ffffff;
    --text-color: #9d9895;
    --body-color: #0b0a09;
    --container-color: #1b1918;

    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 10rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;

  }
  @media (width >= 1150) {
    :root {
      --biggest-font-size: 25rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.9rem;
      --smaller-font-size: 0.8rem;
    }
  }

	* {
		min-width: 0;
		font: inherit;
	}
	*, *::before, *::after {
		box-sizing: border-box;
	}
	img, video, svg {
		display: block;
		height: auto;
		max-width: 100%;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: var(--body-font);
		margin: 0;
		min-height: 100dvh;
		font-family: var(--body-font);
		font-size: var(--normal-font-size);
		background-color: var(--body-color);
		color: var(--text-color);
	}
	h1, h2, h3, h4 {
		margin: 0;
		padding: 0
		text-wrap: balance;
		color: var(--white-color);
		font-weight: var(--font-semi-bold);
	}
	p {
		text-wrap: pretty;
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style: none;
	}

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  .section {
    padding-block: 5rem 1rem;
  }
  .section__title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .main {
    overflow: hidden;
  }
  

</style>
